<div class="container mt-5">
  <h1 calss=>Métodos de Pagamento</h1>

  <p style="color: green"><%= notice %></p>

  <div class="mb-3">
    <%= link_to "Novo método de pagamento", new_payment_method_path, class: "btn btn-sm btn-primary-2" %>
  </div>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Conta Financeira</th>
        <th scope="col">Taxa</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @payment_methods.each do |payment_method| %>
        <tr>
          <td><%= payment_method.name %></td>
          <td><%= payment_method.financial_account.bank %></td>
          <td><%= payment_method.rate %></td>
          <td class="d-flex gap-2">
            <%= link_to "Mostrar", payment_method, class: "btn btn-sm btn-primary-2" %>
            <%= link_to "Editar", edit_payment_method_path(payment_method), class: "btn btn-sm btn-primary-2" %>
            <%= button_to "Deletar", payment_method, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "Tem certeza que deseja deletar este método de pagamento?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
