<p style="color: green"><%= notice %></p>

<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Método de Pagamento</h4>
    </div>
    <div class="card-body">
      <p>
        <strong>Nome:</strong>
        <%= @payment_method.name %>
      </p>
      <p>
        <strong>Conta Financeira:</strong>
        <%= @payment_method.financial_account.bank %>
      </p>
      <p>
        <strong>Taxa:</strong>
        <%= @payment_method.rate %>
      </p>
    </div>
    <div class="d-flex gap-2 p-2">
      <%= link_to "Voltar", payment_methods_path, class: "btn btn-sm btn-secondary" %>
      <%= link_to "Editar", edit_payment_method_path(@payment_method), class: "btn btn-primary btn-sm" %>
      <%= button_to "Deletar", @payment_method, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Tem certeza que deseja deletar este método de pagamento?" } %>
    </div>
  </div>
</div>
