<div id="<%= dom_id guest %>">
  <p>
    <strong>Name:</strong>
    <%= guest.name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= guest.birthdate %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= guest.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= guest.address_id %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= guest.gender %>
  </p>

  <p>
    <strong>Father name:</strong>
    <%= guest.father_name %>
  </p>

  <p>
    <strong>Mother name:</strong>
    <%= guest.mother_name %>
  </p>

</div>
