<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">YourHotel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="<%= hotels_path %>">Hoteis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="<%= financial_accounts_path %>">Contas Financeiras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="<%= payment_methods_path %>">Formas de Pagamento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="<%= guests_path %>">Hospedes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="<%= orders_path %>">Ordens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="<%= transactions_path %>">Lançamentos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
