<div id="<%= dom_id order %>">
  <p>
    <strong>Check in date:</strong>
    <%= order.check_in_date %>
  </p>

  <p>
    <strong>Check out date:</strong>
    <%= order.check_out_date %>
  </p>

  <p>
    <strong>Guest:</strong>
    <%= order.guest_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= order.date %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= order.payment_id %>
  </p>

</div>
