<div id="<%= dom_id order %>">
  <p>
    <strong>Check in date:</strong>
    <%= order.check_in_date %>
  </p>

  <p>
    <strong>Check out date:</strong>
    <%= order.check_out_date %>
  </p>

  <p>
    <strong>Guest:</strong>
    <%= order.guest_id %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= order.payment_id %>
  </p>

  <% if order.payment %>
    <p>
      <%= link_to 'View Payment', payment_path(order.payment), class: 'btn btn-primary' %>
    </p>
  <% else %>
    <p>
      <%= link_to 'Create Payment', new_payment_path(order_id: order.id), class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>
