<p style="color: green"><%= notice %></p>
<div class="container mt-5">
  <h1>Ordens</h1>
<div class="mb-3">
  <%= link_to 'Nova ordem', new_order_path, class: 'btn btn-primary-2 btn-sm' %>
  </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Hospede</th>
      <th class="text-nowrap">Check-in Date</th>
      <th class="text-nowrap">Check-out Date</th>
      <th>Quarto</th>
      <th class="text-nowrap">Status de pagamento</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id%></td> <!-- Assuming you have a guest association -->
        <td><%= order.guest.name %></td> <!-- Assuming you have a guest association -->
        <td><%= order.check_in_date.strftime("%d/%m/%Y") %></td>
        <td><%= order.check_out_date.strftime("%d/%m/%Y") %></td>
        <td class="text-nowrap"><%= order.room.name %></td>
        <td>
          <% if order.payment %>
            <span class="badge bg-success">Pago</span>
          <% else %>
            <span class="badge bg-danger">Não Pago</span>
          <% end %>
        </td>
        <td class="d-flex gap-2">
          <% if order.payment %>
            <%= link_to 'Ver recebimento', payment_path(order.payment), class: 'text-nowrap btn btn-primary-2 btn-sm' %>
          <% else %>
            <%= link_to 'Criar recebimento', new_payment_path(order_id: order.id, financial_class_id: order.financial_class_id, hotel_id: order.hotel_id), class: 'text-nowrap btn btn-success btn-sm' %>
          <% end %>
          <%= link_to 'Mostrar', order_path(order), class: 'btn btn-primary-2 btn-sm' %>
          <%= link_to 'Editar', edit_order_path(order), class: 'btn btn-primary-2 btn-sm' %>
          <%= button_to 'Deletar', order, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= paginate @orders %>
</div>