<div id="<%= dom_id payment %>">
  <p>
    <strong>Date:</strong>
    <%= payment.date %>
  </p>

  <p>
    <strong>Entry date:</strong>
    <%= payment.entry_date %>
  </p>

  <p>
    <strong>Execution date:</strong>
    <%= payment.execution_date %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= payment.order_id %>
  </p>

   <p>
    <strong>Price:</strong>
    <%= payment.price %>
  </p>

</div>
