<div class="container mt-4">
  <h1>Lista de Recebimentos/Pagamentos</h1>


  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Data de Entrada</th>
          <th>Data de Execução</th>
          <th>Ordem</th>
          <th>Classe Financeira</th>
          <th>Tipo</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @payments.each do |payment| %>
          <tr>
            <td><%= payment.id %></td>
            <td><%= payment.entry_date.strftime("%d/%m/%Y") %></td>
            <td><%= payment.execution_date.strftime("%d/%m/%Y") %></td>
            <td><%= payment.order_id %></td>
            <td><%= payment.financial_class.name %></td>
            <td><%= payment.financial_class.is_revenue ? 'Receita' : 'Despesa'%></td>
            <td><%= number_to_currency(payment.price, unit: "R$", separator: ",", delimiter: ".", format: "%u%n") %></td>
            <td class="d-flex gap-2">
              <%= link_to 'Mostrar', payment_path(payment), class: 'btn btn-primary-2 btn-sm' %>
              <%= link_to 'Editar', edit_payment_path(payment), class: 'btn btn-primary-2 btn-sm' %>
              <%= button_to 'Excluir', payment_path(payment), method: :delete, data: { confirm: 'Tem certeza de que deseja excluir este pagamento?' }, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
