<div id="<%= dom_id financial_account %>">
  <p>
    <strong>Bank:</strong>
    <%= financial_account.bank %>
  </p>

  <p>
    <strong>Account name:</strong>
    <%= financial_account.account_name %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= financial_account.account_number %>
  </p>

  <p>
    <strong>Agency:</strong>
    <%= financial_account.agency %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= financial_account.description %>
  </p>

</div>
