<div class="container mt-5">
  <h1>Contas Financeiras</h1>

  <%= link_to "Nova Conta Financeira", new_financial_account_path, class: "btn btn-sm btn-success mb-3" %>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Banco</th>
        <th scope="col">Nome da Conta</th>
        <th scope="col">Número da Conta</th>
        <th scope="col">Agência</th>
        <th scope="col">Descrição</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @financial_accounts.each do |financial_account| %>
        <tr>
          <td><%= financial_account.bank %></td>
          <td><%= financial_account.account_name %></td>
          <td><%= financial_account.account_number %></td>
          <td><%= financial_account.agency %></td>
          <td><%= financial_account.description %></td>
          <td class="d-flex gap-2">
            <%= link_to "Mostrar", financial_account, class: "btn btn-sm btn-primary" %>
            <%= link_to "Editar", edit_financial_account_path(financial_account), class: "btn btn-sm btn-secondary" %>
            <%= button_to "Deletar", financial_account, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "Tem certeza que deseja deletar esta conta financeira?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
