<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :execution_date %>
    <%= form.date_select :execution_date %>
  </div>

  <div class="field">
    <%= form.label :transaction_type %>
    <%= form.select :transaction_type, Transaction.transaction_types.keys.map { |type| [type.humanize, type] }, prompt: "Select Type" %>
  </div>

  <div class="field">
    <%= form.label :payment_id %>
    <%= form.collection_select :payment_id, Payment.all, :id, :date, prompt: "Select a Payment" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :payment_method_id %>
    <%= form.collection_select :payment_method_id, PaymentMethod.all, :id, :name, prompt: "Select a Payment Method" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
