<div class="d-flex justify-content-center align-items-center">
  <div class="w-50">
<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Formulário inválido:</h4>
      <ul>
        <% transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :execution_date, "Data de Execução", class: "form-label fw-bold" %>
    <%= form.date_field :execution_date, class: "form-control" %>
  </div>

  <div class="mb-3">
  <%= form.label :transaction_type, "Tipo de Transação", class: "form-label fw-bold" %>
  <%= form.select :transaction_type, 
    Transaction.transaction_types.keys.map { |type| [type == 'income' ? 'Receita' : 'Despesa', type] }, 
    { prompt: "Selecione o Tipo" }, 
    class: "form-select", 
    disabled: params[:transaction_type].present? %>
</div>


  <div class="mb-3">
    <%= form.label :description, "Descrição", class: "form-label fw-bold" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :payment_method_id, "Método de Pagamento", class: "form-label fw-bold" %>
    <%= form.collection_select :payment_method_id, PaymentMethod.all, :id, :name, { prompt: "Selecione um Método de Pagamento" }, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :price, "Preço", class: "form-label fw-bold" %>
    <%= form.number_field :price, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :financial_class_id, "Classe Financeira", class: "form-label fw-bold" %>
    <%= form.collection_select :financial_class_id, @financial_classes, :id, :name,{  prompt: "Selecione a Classe Financeira" }, class: "form-select" %>
  </div>


  <div class="mb-3">
    <%= link_to "Voltar", transactions_path, class: "btn btn-secondary btn-sm" %>
    <%= form.submit "Salvar", class: "btn btn-primary btn-sm" %>
  </div>
  </div>
  </div>
<% end %>
