<div id="<%= dom_id transaction %>">
  <p>
    <strong>Execution date:</strong>
    <%= transaction.execution_date %>
  </p>

  <p>
    <strong>Transaction type:</strong>
    <%= transaction.transaction_type %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= transaction.payment_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transaction.description %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= transaction.payment_method_id %>
  </p>

  <p>
    <strong>Financial account:</strong>
    <%= transaction.financial_account_id %>
  </p>

</div>
