<div class="container mt-5">

<h1>Lançamentos</h1>

<p>
<%= link_to 'Nova Receita', new_transaction_path(transaction_type: 'income'), class: 'btn btn-sm btn-success' %>
<%= link_to 'Nova Despesa', new_transaction_path(transaction_type: 'expense'), class: 'btn btn-sm btn-danger' %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th class="text-nowrap">Data de execução</th>
      <th class="text-nowrap">Tripo de transação</th>
      <th>Pagamento</th>
      <th>Descrição</th>
      <th class="text-nowrap">Classe Financeira</th>
      <th class="text-nowrap">Forma de pagamento</th>
      <th class="text-nowrap">Conta Financeira</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.execution_date.strftime("%d/%m/%Y") %></td>
        <td><%= transaction.transaction_type == 'income' ? 'Receita' : 'Despesa' %></td>
        <td><%= transaction.payment_id %></td>
        <td><%= transaction.description %></td>
        <td><%= transaction.financial_class ? transaction.financial_class.name : "" %></td>
        <td><%= transaction.payment_method.name %></td>
        <td><%= transaction.payment_method.financial_account.bank %></td>
        <td class="d-flex gap-2">
          <%= link_to 'Mostrar', transaction_path(transaction), class: 'btn btn-primary-2 btn-sm' %>
          <%= link_to 'Editar', edit_transaction_path(transaction), class: 'btn btn-primary-2 btn-sm' %>
          <%= button_to 'Deletar', transaction_path(transaction), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>