<div id="<%= dom_id hotel %>">
  <p>
    <strong>Name:</strong>
    <%= hotel.name %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= hotel.cnpj %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= hotel.phone %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= hotel.manager %>
  </p>

</div>
