<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Detalhes do Hotel</h4>
    </div>
    <div class="card-body">
      <p><strong>Nome:</strong> <%= @hotel.name %></p>
      <p><strong>CNPJ:</strong> <%= @hotel.cnpj %></p>
      <p><strong>Telefone:</strong> <%= @hotel.phone %></p>
      <p><strong>Gerente:</strong> <%= @hotel.manager %></p>
    </div>
    <div class="d-flex gap-2 p-2">
      <%= link_to "Voltar", hotels_path, class: "btn btn-secondary btn-sm" %>
      <%= link_to "Editar", edit_hotel_path(@hotel), class: "btn btn-sm btn-primary-2" %>
      <%= button_to "Deletar", @hotel, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Tem certeza que deseja deletar este hotel?" } %>
    </div>
  </div>
</div>
